#errorExplanation {
    border: 3px solid #CCCCCC;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #FFFFCC;
  }
#errorExplanation ul{
    color:#CC0000;font-weight: bold;font-size: small;
}

#errorExplanation p{
    color:#CC0000;font-weight: bold;font-size: small;
}

.fieldWithErrors{
  display: inline;
}