body{
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
}
div {
    display: block;
}
strong{
    color: red;
}
#page {
    margin: 0px auto;
    position: relative;
    text-align: left;
    width: 955px;
}
#headerArea{
    width : 945px;
}
#conetntArea{
    width : 945px;
}
#footerArea{
    width : 945px;
}
/* DIVの左回り込み設定 */
.divLeft{
    float:left;
}
/* 回り込み解除スタイル設定 */
.clearDiv{
    clear:both;
}
/* スペース行（小）のスタイル設定 */
.spacer_mini{
    padding-top:5px;
}
/* スペース行（大）のスタイル設定 */
.spacer{
    height:15px;
}
.captionArea{
    padding: 5px 5px;
    background-image: url(../../images/caption_back.gif);
    border-bottom: 2px solid #999;
}
.marginArea{
    padding:5px;
}
.margintopArea{
    padding-top:5px;
}
.textCenter{
    text-align:center;
}

#introPage{
    width:580px;
    float:left;
}
#loginPage{
    vertical-align:top;
    width:350px;
    margin-left:600px;
    
}
.tableArea{
    border: 2px solid #999;
}
.formCaption{
    float:left;
    width:120px;
    margin-top: 5px;
    text-align:right;
}
.iconWidth{
    width:50px;
    margin-top:  5px;
    margin-left: 10px;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  background-color: #fff;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  padding-left: 2px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style-image: url(../images/caution_icon.gif);
}
