    <div>
      <%= image_tag 'kyodaku_guide.gif', :alt =>'利用許諾について'%>
    </div>
    <div>スクロールさせて最後まで確認してください。</div>
    <div>
        <%= text_area 'message','message_text',:value=> '第1条（サイト）
1. 「みんなのＩＣＴ（URL：http://www.ict4everyone.jp/）」（以下「本サイト」という）利用については、特定非営利活動法人みんなのＩＣＴ事務局（所在地：愛媛県松山市）（以下「事務局」という）が本利用規約（以下「本規約」という）に定めることとする。

第2条（会員登録）
1. 本サイトの一部コンテンツを利用するにあたり、サイト利用者(以下「利用者」という)は会員登録を行う必要がある。会員とは、利用者が本規約に同意した上で、会員登録フォームより規定の情報の入力により会員登録申請を行い、事務局の承認を得た利用者を会員という。
2. 事務局は、利用者および会員が以下に定める事由のいずれかに該当する場合、利用者および会員の本サイトの利用を認めないことがある。
   （1）利用者が実在しない場合
   （2）利用の際に入力した事項に虚偽、誤記があった場合
   （3）その他、利用者として不適格と事務局が判断した場合

第3条（本サービス）
1. 本サイトの次の各号に定めるサービス(以下「本サービス」という)は会員のみが利用できるものとする。
    (1) インターネット要約筆記サービスの利用
    (2)遠隔点字印刷サービスの利用
    (3)インターネットＲＡＩＮＭＡＮの利用
    (4)メールマガジンの受信

第4条（利用料）
1. 利用者および会員が本サイトを閲覧、投稿、会員登録等により利用する場合、これらの行為に係る料金は発生しない。但し、利用者の通信機器等の設置に関する費用、インターネット接続業者のサイト利用料等は、利用者および会員の負担とする。

第5条（事務局から会員への通知方法）

1. 本サイトでは、事務局から会員へ通知をすることがある。会員への通知は、会員が利用時に入力した電子メールアドレス宛の電子メール送信によりなされるものとする。
2. 前項の通知は、事務局が、利用者の契約するサーバ宛に電子メールを発信し、当該サーバに通知が到着したことをもって会員への通知が完了したものとみなす。

第6条（規約の承認）
1. 利用者および会員は、本サイトを利用する前に本規約を確認し、その内容について承諾しなければならない。事務局は、利用者の本サイトの利用により、利用者が本規約を熟読し、その内容についてすべてを承諾したものとみなすことができる。
2. 利用者が、本サイトの利用にあたり、本サイトに掲載した内容に誤りまたは不備があったことにより、利用者が不利益および損害を被ったとしても、事務局は一切責任を負わない。
3. 第7条の定めに従い、本規約が改定された場合、会員は、本サイトの利用につき、改定後の規約を遵守するものとする。

第7条（規約の変更）
1. 本規約は、事務局の都合により改定されることがある。事務局は、本規約を改定するときは、本サイト上又は事務局が別に定める方法で利用者および会員に告知するものとし、告知後に利用者および会員が本サイトを利用した場合、利用者および会員は、改定した規約に同意したものとみなす。

第8条（情報の利用禁止）
1. 利用者および会員は、事務局又は情報に係る権利保持者が許諾した場合を除き、本サイトの利用により入手した、いかなる情報も私的利用の範囲を超えて使用をすることができないものとする。

第9条（保証の否認）
1. 事務局は、本サイトを「あるがままの状態で」かつ「利用可能な範囲」という条件で提供する。
2. 事務局は、以下の内容について一切の保証を行うものではない。
    (1)本サイトの内容が利用者および会員の要求に合致すること
    (2)本サイトが中断されないこと
    (3)本サイトが適時に提供されること
    (4)本サイトが安全であること
    (5)本サイトにおいていかなるエラーも発生しないこと
    (6)本サイトにて公開される情報が有益、正確又は信頼できるものであること
    (7)本サイトにいかなる瑕疵もないこと
3. 事務局は、本サイトの利用に起因又は関連して利用者および会員のコンピュータ等の通信機器およびデータに発生した損害について、一切責任を負わないものとする。

第10条（自己責任の原則）
1. 利用者および会員は、本サイトの利用に際して他の利用者および会員ならびに第三者に対して損害を与えたときは、自己の責任と費用において当該損害を賠償するものとし、かつ事務局を免責せしめるものとする。
2. 会員は、本サイトの利用に際して事務局に対して損害を与えたときは、自己の責任と費用において当該損害を賠償するものとする。
3. 事務局は、本サイトを運営するために必要な設備（以下「設備」といいます）に蓄積された情報が消失し、又は他者により改ざんされた場合、技術的に可能な範囲で当該情報の復旧に努めるものとする。事務局は、その復旧への努力を以って、消失又は改ざんに伴い利用者および会員に発生した損害の賠償責任から免れるものとする。
4. 事務局は、本サイトを提供するためにインターネットを使用する。利用者および会員は、本規約のほか、インターネット上において一般的に遵守されている規則、方針、手順に従うものとする。会員は、スパミング等その他、他人に迷惑をかけることを目的として本サイトを使用しないものとする。

第11条（著作権）
1. 本サイトに掲載された情報のうち、投稿情報にかかる著作権は、当該投稿情報を投稿した会員に帰属するものとする。但し、会員は、本サイトおよび事務局が単独で若しくは第三者と共同で運営するその他のWEBサイトの運営の目的に限り、事務局に対して対価の請求をすることなく、以下に定める権利を事務局に対して許諾することを予め承諾するものとする。なお、当該権利許諾は、会員が本サイトを利用する資格を喪失した後においても、有効に存続するものとする。
    (1)会員が投稿した記事および書込みの全部又は一部を複製する権利、公衆送信する権利、編集する権利、改変する権利および翻案・翻訳する権利
    (2)（1）を表示する権利
    (3)（1）を掲載する権利
    (4)本項第1号に定める権利を事務局の委託業者および共同事業運営者に再許諾する権利
2. 本件情報のうち、記事および書込み以外の情報にかかる著作権は、原始的に事務局に帰属するものとする。

第12条（登録情報および会員情報の利用）
1. 事務局は、本サイト申込時に会員が登録した情報を、本サイトの提供を含む事務局が運営するWebサイトおよびこれに関連する事業を運営する目的のために利用する。
2. 事務局は、会員の情報について、次の各号に定めるの場合を除き、本人以外の第三者に開示しないものとする。
    (1)本サイトの向上の目的で登録情報を集計および分析等する場合
    (2)前号の集計および分析等により得られたものを、個人を識別または特定できない態様にて、第三者に開示または提供する場合
    (3)個人情報の開示や利用について会員の同意がある場合
    (4)会員が希望するサイトを提供するために、個人情報の開示や利用が必要と認められる場合
    (5)裁判所、検察庁、警察またはこれらに準じた権限を有する公的機関から正当に開示を求められた場合
    (6)事務局、会員、その他第三者の権利、財産やサイト等を保護するために必要と認められる場合
    (7)人の生命、身体および財産等に対する差し迫った危険があり、緊急の必要性がある場合
    ※事務局は、個人情報については特定非営利活動法人みんなのＩＣＴの個人情報保護方針に基づき、取り扱うものとする。
    ※会員は、事務局が管理者情報を本条に定めるとおりに利用することについて、あらかじめ同意するものとし、異議を述べないものとする。
    ※管理者は、本サイトに登録した個人情報について、開示、削除、訂正または利用停止の請求ができるものとし、本人からの請求であることが確認できる場合に限り、事務局はこれに速やかに対応するものとする。

第13条（禁止事項）
1. 利用者または会員は、本サイトを利用するにあたり、以下に該当またはその恐れがある行為をすることはできない。
    (1)公序良俗に反する場合
    (2)犯罪的行為を助長し又はその実行を暗示する場合
    (3)第三者の知的所有権（著作権・意匠権・特許権・実用新案権・商標権・ノウハウが含まれますがこれらに限定されません）を侵害する場合
    (4)第三者の財産、信用、名誉、プライバシーを侵害する場合
    (5)法令に反する場合
    (6)第三者に不利益を与える場合
    (7)第三者に対する誹謗中傷の場合
    (8)選挙の事前運動、選挙運動又はこれらに類似する場合、および公職選挙法に抵触する場合
    (9)宗教活動又は宗教団体の支援を目的にする場合
    (10)自己又は第三者の営業に関する宣伝のみを目的にする場合
    (11)未成年者に対し悪影響があると判断される場合
    (12)本サイトの運営を妨げ、又は、事務局の信用を毀損する場合
    (13)故意で虚偽の記事を投稿する場合
    (14)管理者並びに記事編集者、投稿者の情報が本項各号のいずれかに該当する場合
    (15)本規約に違反する場合
    (16)その他、事務局が不適当と判断する場合

第14条（本サイトの一時的な中断）
1. 事務局は、以下の事由により、利用者および会員に事前に通知することなく、一時的に本サイトの提供を中断することがある。本サイトの中断による損害について、事務局は、利用者および会員に対し、第16条第8項又は第9項に定める場合を除き一切責任を負わないものとする。
    (1)設備の保守、点検、修理などを行う場合
    (2)火災・停電により本サイトの提供ができなくなった場合
    (3)天変地異などにより本サイトの提供ができなくなった場合
    (4)その他、運用上、技術上または本サイト提供の一時的な中断を必要と事務局が判断した場合

第15条（特定の会員に対するサイトの停止）
1. 事務局が、事務局、他の会員又は第三者に損害を与える危険があると判断した場合又は会員の行為が本規約に違反すると判断した場合には、事務局の裁量により、特定の会員に対し、何ら通知をすることなく、かつその理由を特定会員に開示することなく、本サイトの利用を一時停止又は会員資格を失効させることができるものとする。
2. 事務局は、会員が会員資格を喪失した後も、当該会員が投稿した記事があるときは、本規約第11条第1項の定めに従い当該記事を自由に使用することができるものとする。

第16条（本サイトの変更・廃止）
1. 事務局は、本サイトの内容を、会員への事前の通知なくして変更することがあるが、会員は、これに同意するものとし、会員に不利益又は損害が発生したとしても、事務局は、第17条第8項又は第9項に定める場合を除き一切その責を負わないものとする。
2. 事務局は、本サイトを、最低10日間の予告期間をおいて停止又は廃止することができる。事務局は、本サイトを停止又は廃止する場合、本サイト上で会員に告知するものとする。事務局が、この手続を行った後に本サイトを停止又は廃止した場合には、事務局は、第17条第8項又は第9項に定める場合を除き一切の損害賠償等の責を負わないものとする。
3. 事務局が本サイトを廃止したことにより会員が会員資格を喪失した後も、会員が投稿した投稿情報がある場合、第12条の定めに従い事務局は投稿情報を自由に使用することができるものとする。

第17条（全般）
1. 本規約は、日本法に準拠して解釈されるものとする。
2. 本規約から生じる又は関連する訴訟もしくは訴訟手続きについては、事務局の所在地の地方裁判所とする。
3. 事務局は、本サイトに関する業務その他一式を第三者に譲渡する場合、最低10日間の予告期間をおいて、事前に会員に本サイト上で告知の上、本規約に基づく事務局のすべての権利および義務を承継、合併、その他の方法で、譲渡することができるものとする。また、会員は、この場合において、事務局がかかる権利および義務を譲渡する者に、管理者情報、記事および書込みの内容を開示すること並びにこれらに関する諸権利を譲渡することに同意するものとする。
4. 本規約のいずれかの規定が法律に違反していると判断される場合、かかる規定は、効力のあるその他の残りの条項をもって事務局の意向をできる限り反映するように解釈することとする。
5. 本規約のいずれかの条項が無効又は実施できないと判断された場合には、それらの条項の有効又は実施できる部分および本規約の残りの条項は、引き続き有効かつ実施できるものとする。
6. 事務局による利用者および会員の本規約への違反に対する権利の放棄（明示、黙示を問わず）は、その後の利用者および会員の本規約への違反に対する権利の放棄を意味するものではない。
7. 利用者および会員は、本サイトから生じる又はそれに関連するいかなる訴訟も、当該訴訟の原因が生じてから一年以内に開始されなければならないことに同意し、当該期間経過後は、そのような訴訟は、永久に提訴できないものとする。
8. 事務局は、利用者および会員に対し、本サイトを提供するにあたり、事務局の過失に基づく債務不履行又は不法行為に起因して会員に損害が生じた場合、現実、通常かつ直接の損害に限り賠償するものとする。また、事務局は、利用者および会員に発生した使用機会の逸失、業務の中断又はあらゆる種類の損害（間接損害、特別損害、付随損害、派生損害、逸失利益を含む）に対して、たとえ事務局がかかる損害の可能性を事前に通知されていたとしても、いかなる責任も負わない。
9. 本規約の異なる定めに定めにかかわらず、事務局は、本サイトの提供にあたり、事務局の故意又は重過失に起因する事務局の債務不履行又は不法行為により会員が被った損害については、法令の定めに従い賠償責任を負うものとする。また、事務局は、会員に対し、本サイトを提供するにあたり、事務局の過失に基づく債務不履行又は不法行為に起因して会員に損害が生じた場合、現実、直接かつ通常の損害に限り賠償するものとする。

制定：平成20年12月1日
',:cols => "110", :rows => '15'  %>
      </div>
