<div><%= image_tag 'info_icon.gif', :alt =>'登録'%><strong>ユーザ本登録が完了しました。</strong></div>
<div CLASS="spacer"></div>
<div>登録したアドレスに確認メールを送信しました。</div>
<div>これで、ユーザ登録に関する全ての作業が完了しました。ありがとうございます。</div>
<div CLASS="spacer"></div>
<%= render :partial => 'layouts/top_explain' %>