<h1 id="honbun">ユーザー登録:仮登録完了</h1>
<p class="boxB">ユーザー登録申請を承りました。まだ本登録は完了していません。</p>
<p><%= @user.email %>宛に、メールを送信しました。メールに記載された内容に従って、<span class="tCaution">「本登録」</span>を完了させてください。</p>

<p>しばらく経ってもメールが届かない場合は、お手数ですが再度ユーザー登録をお願いします。</p>

<%= render :partial => 'backMenu' %>