<h1 id="honbun">ユーザー登録・変更</h1>
<p>みんなのICTのユーザー登録を行うと「要約筆記依頼サービス」「ネット点字印刷サービス」のサービスを利用することができます。</p>
<h2>ユーザー登録・変更</h2>
<ul>
  <li><%= link_to 'ユーザー登録', :controller => 'users', :action => 'new' %></li>
  <li><%= link_to 'ユーザー情報変更', :controller => 'users', :action => 'edit_auth' %></li>
  <li><%= link_to 'パスワードを忘れた方', :controller => 'users', :action => 'forget' %></li>
</ul>
