<h1 id="honbun">パスワードを忘れた方:再設定のお知らせ</h1>
<p class="boxB">入力したメールアドレスにパスワード再設定のお知らせを送信しました。</p>
<p>メールに記載された内容に従って、<span class="tCaution">「再設定」</span>を行ってください。</p>

<p>再設定の有効期限は1時間です。<br />1時間以内にアクセスを行わなかった場合は、再度お手続きをお願い致します。</p>