<div>
  <%= image_tag 'info_icon.gif', :alt =>'お問い合わせメールの送信が完了しました。'%>
  <label CLASS="notice_message">お問い合わせメールの送信が完了しました。みんなのICT事務局が確認するまでしばらくお待ちください。</label>
  <div CLASS="spacer"></div>

  <div CLASS="marginArea">
    <%= image_tag 'mail_icon.gif', :alt =>'みんなのICT事務局にメールを送信しました。'%>&nbsp;みんなのICT事務局にメールを送信しました。
  </div>
</div>
<div CLASS="spacer"></div>
<div>みんなのICTトップページに移動する場合は<%= link_to('こちら', select_master_data('ict4e_url',:first)) %>をクリックして下さい。</div>