<% unless messages.blank? %>
  <% for message in messages %>
    <div class="<%= h(type) %>_message">
      <% if type == 'notice' %>
        <%= image_tag 'info_icon.gif', :alt => '通知メッセージ' %>
      <% else %>
        <%= image_tag 'caution_icon.gif', :alt => '入力エラー' %>
      <% end %>
      &nbsp;<b><%= h(message) %></b>
    </div>
  <% end %>
<% end %>
